# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

.vscode

# misc

%*
keys
*.d.ts
/src/packages/react-native-ozow/*.js
/src/packages/react-native-ozow/src/*.js
/src/packages/react-native-ozow/src/*/*.js

/src/packages/react-native-ozow/*.d.ts
/src/packages/react-native-ozow/src/*.d.ts
/src/packages/react-native-ozow/src/*/*.d.ts
package-lock.json
